.game-button a{
   color: #fff;
   text-decoration: none;
   font-size: 17px;
}

.game-name a{
   color: #435766;
}

.game-name a:hover {
   color: #8DD83D;
   text-decoration: none;
}

@media (max-width: 1023px) {
   .game-button {
      margin: 0 15px;
   }
}